@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lauren Likes Life";
}


    <h1>Lauren Likes</h1>


    <img id="lololax" src="img/22wLAX vs Westminster 161.JPG" width="600" height="400" />

    <br />
    <br />
    <p>
        I hope to be able to deploy and create a website that I can use on my own to showcase my skill.
        I want to be able to use the skills I learn in this class in my internship and moving forward.
        I also hope to utilize API's and see what we can do with them in this awesome framework.
    </p>
    <br />
    <p>My Top 3 Jobs: </p>
    <ol>
        <li>1. Product Manager</li>
        <li>2. Web Developer</li>
        <li>3. UX/UI Designer</li>
    </ol>
    <br />
   

